*{     font-family: Verdana, Geneva, Tahoma, sans-serif;}
body
{
    margin:0%;
    padding: 0%;
    text-decoration:none;
}

.headd
{
    width:100%;
    height:70vh;
    position:relative;
    overflow:hidden;
    object-fit: cover;
    margin-bottom:5px;

}

.header-image
{
    position:absolute;
    top: -20vh;
    z-index:-1;
}
.nav
{
    display:flex;
    margin: 1vh 10vw;
    justify-content: space-between;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: white;
   
}

.nav-bar
{
    display: flex;

}
.nav-bar li
{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: lighter;
    list-style:none;
    padding-left: 30px;
}

.headd
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:5px;
    align-items: center;
}
.logo
{
    width:24vw;
    
}
.headd h3
{
    font-size: 2.1em;
    color:whitesmoke;
    font-weight:lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.search
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 400px 5px 400px 5px;
    border-radius:5px;
    margin:5px;
    padding:5px;
    background-color: white;
}
.search input
{
    width:600px;
    font-size: 0.9em;
    font-weight: lighter;
    padding-left:25px;
    color:rgb(156, 156, 156);
    outline: none;
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search p
{
    color:rgb(156, 156, 156);
    font-size: 0.9em;
    padding-left:10px;
    padding-right:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.location
{
    color:lightcoral;
    padding-right:10px;
    padding-left:10px;
}
.searchsymbol
{
    padding-left: 10px;
}

.sec1
{
    display: flex;
    justify-content: center;
    margin-top:5px;
}
.box
{
    position:relative;
    width:340px;
    height:210px;
    margin-left:30px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 2px grey;
}
.box img
{
    width:100%;
    height:70%;
    border-radius:5px;
    z-index:-1;
    transition:5s ease;
    transition-delay:4s;

}
.box:hover
{
    transform:scale(1.1);
}
.whitetext
{
    position:absolute;
    bottom:3px;
    align-items: center;
    border:1px gray;
    border-radius:0 0 15px 15px;
    background-color: white;
    font-size: 1rem;
    width:100%;
    height:25%;
    z-index:2;

}
.whitetext span
{
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    color:rgb(20, 18, 18);
    letter-spacing: 0.8px;
} 
.whitetext p
{
    align-items: center;
    font-weight: lighter;
    font-size: 1em;
    margin-top:9px;
}
.sec2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.sec2 h1
{
    font-size:2.7rem;
    margin-bottom:5px;
    font-weight: lighter;
}
.sec2_text
{
    display:flex;
    justify-content: space-between;
}
.sec2_P
{
    color:rgb(238, 70, 70);
    margin-left:50px;
}

.box1
{
    width: 335px;
    height:400;
    overflow: hidden;
    position: relative;
    border-radius:  8px;
    
}

.box1 div
{
    position:absolute;
    background:linear-gradient(transparent,black);
    width:82%;
    height: 25%;
    display:flex;
    align-items:flex-end;
    color:white;
    border-radius: 5px;
    bottom:0;
}
.box1 div span:first-child
{
    display:flex;
    color:white;
    padding-left:10px;
    font-size: 1rem;
    padding-bottom: 5px;
}
.box1 img
{
    height: 310px;
    width: 270px;
    border-radius: 5px;

}
.sec3
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 130px;    
}
.h2text
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    color:rgb(65,64,64);
    font-weight: lighter;
    margin: 50px;
}
.sec-4
{
    display: grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto;
}
.box-2
{
    border:1px solid rgb(235, 233, 233);
    box-shadow: 0 1px 3px whitesmoke;
    width:340px;
    height: 80px;
    overflow:hidden ;
    border-radius:10px;
}
box-2 div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    color:black;
    overflow: hidden;
}
.box-2 div span
{
    color:black;
    font-size: 1.2rem;
    display: inline-block;
    text-overflow:ellipsis;
}
.box-2 div span 
{
    color:rgb(112, 105, 105);
    font-weight: lighter;
    font-size: 1rem;
}
.sec3
{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    background-color: rgb(255, 252, 248);
    margin-top: 30px;
}
.mobileimg
{
    border-radius: 5px;
    width:60%;
    height:80%;
    margin-top:60px;
}
.flex
{
    display:flex;
}
.headingtext h2 
{
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 25px;
}
.headingtext p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color:rgb(112, 105, 105);
}
.imageslink img
{  
    height: 40px;
    width: 120px;
    margin-left:20px ;

}
.sec3 h6
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color:rgb(112, 105, 105);
    font-size: 1rem;
    margin-bottom: 15px;

}
.radiobtn
{
    margin-top:25px;
    margin-bottom:10px;
    margin-left:15px;
}
.btn2
{
    margin-left: 40px;
}
input
{
    accent-color: rgb(255,92,92);
}
input [type='radio']
{
    border:0px;
    width:100%;
    height:2em;
}
.btn textarea
{
    border-radius:5px;
    width:80%;
    height:50px;
    margin-bottom: 15px;
}
.btn button
{
    border:rgb(253, 104, 104);
    border-radius :5px;
    width:250px;
    height:60px;
    background-color: rgb(253, 104, 104);
    color:white;
    margin-left:10px;
    margin-bottom:10px;
    overflow:hidden;
    font-size:1rem;
}
.sec4
{
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(255, 252, 248);

}
.sec4 h1
{
    color:gray;
    font-weight: lighter;
    font-size: 2rem;
    margin-left: 30px;
}

.box3
{
    padding:20px;
    border:1px solid gray;
    border-radius: 5px;
    margin:25px;
    font-size: 1.2rem;
    font-weight: lighter;
    width:70%;
}

.footer
{
    margin-left: 30px;
    background-color: rgb(255, 252, 248);
   
}

.first-1 img
{
    width: 128px;
    height: 35;
}

.first-1
{
    display:flex;
    justify-content: space-between;
    margin-left:30px;
}

.first
{
    display: flex;
    justify-content: space-between;
}
.first span
{
    margin-right:50px;
    border:1px  solid black;
    border-radius:5px;
    font-size:0.9rem;
    padding:10px;
}

.second-phase
{
    display: flex;
    justify-content: space-around;
    margin:30px 0;
}
.second-phase div
{
    width:200px;
}

.second-phase h4
{
    font-weight: lighter;
    color:rgb(22,22,22);
    white-space: nowrap;
}

.second-phase a
{
    display: inline;
    width:200px;
    margin-bottom: 7px;
    text-decoration: none;
    color:gray;
    font-size:0.9rem;
}

.six img
{
    width: 128px;
    height: 35;
}